@model MedicalRecordManagement.Models.Views.UserViewModel
@{
}
<head>
    <title>Visualizar Usuário</title>
</head>
<body>
    <h1>Informações do Usuário</h1>
    <div>
        <label>TaxNumber:</label>
        <span>@Model.TaxNumber</span>
    </div>
    <div>
        <label>Fullname:</label>
        <span>@Model.FullName</span>
    </div>
    <div>
        <label>PhoneNumber:</label>
        <span>@Model.PhoneNumber</span>
    </div>
    <div>
        <label>Role:</label>
        <span>@Model.Role</span>
    </div>
    <div>
        <label>Address:</label>
        <span>@Model.Address</span>
    </div>
    <div>
        <label>Photo:</label>
        <span>@Model.Photo</span>
    </div> 

</body>